BODY {
	margin-right: 10px; 
	margin-left: 10px;
	margin-bottom: 5px; 
	margin-top: 5px; 
	FONT-FAMILY: verdana, arial, helvetica, sans-serif; 
	background-color:#8cbb6e;
}

h1{
	margin:0.6em;
	font-size: 2.2rem;
	color: #005f00;
	background: transparent;
	text-shadow: 3px 2px 5px gray;
}
.no_prt {
	border-radius: 35px;
}
img { 
/* r�gle le bug d'exploser qui ajoute des marges inutiles... ------------------------------------------------------------------------------------- */
	display: block; 
} 

main {
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	justify-content: space-evenly;
	gap: 3px;
}
#flex_menu {
	display: flex;
	flex-flow: column nowrap;
	gap:3px;
	flex-grow: 1;
}
#flex_menu > div {
	border-radius:35px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap:2px;
	width: 95%;
	border: 2px solid;
	padding: 3px;
	margin-bottom: 0.2em;
	background: #568b47; 
}
#flex_menu > div > a {
	width: 70%;
}
#flex_menu > div :hover{
	background : #005f00
}
#flex_menu > div > a {
	color: white !important; 
	text-decoration: none !important;
}
#flex_content {
	display: flex;
	flex-flow: column nowrap;
	width: 80%;
	flex-grow: 3;
	flex-shrink: 3;
}

img.corps{ 
/* encadrement des images. Pose visiblement un probl�me � exploser ... ------------------------------------------------------------------------------------- */
	margin: 5px;
	padding: 2px;
	border-top:solid 2px #005f00;
	border-right:solid 2px #005f00;
	border-left:solid 1px #568b47;
	border-bottom:solid 1px #568b47;
	background-color:white;
} 

td > .no_prt {
	border-radius: 0;
}
.prt{
/* �l�ments � imprimer mais pas � afficher */
	display:none
}

#corps > .titre_bloc {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	width:100%;
	border:0;
	padding-right:0;
	border-radius: 0px 66px 6px 0px;
	border-top: solid 1px #d0d0d0;
    border-left: solid 2px #909090;
    background-color: #eceada;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
    color: #006000;
    font-size: 90%;
}
.t_b_extra > h2 {
	display: flex;
	align-items: center;
}

h2 {
	padding:5px 10px 0px 10px;
}
.titre_droit{
	width:30px;
	padding-right: 0;
}
/* CSS du bandeau haut ------------------------------------------------------------------------------------- */
#entete {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(42, 46, 45, 1) 80%, rgba(0, 0, 0, 1) 100%);
	border-radius: 35px;
	margin-right: 0px; 
	margin-left: 0px;
	margin-bottom: 10px; 
	margin-top: 0px; 
	background-color:black;
}
#entete > div > img {
	width:95px;
	height:90px; 
	border-radius:35px;
}

/* CSS du pav� Menu ------------------------------------------------------------------------------------- */
#menu {
	margin-bottom: 0px; 
	margin-left: 0px; 
	margin-top: 0px;
	text-align: left;
}

#menu td.menu_bar_courante{
	background-color:#005B00;
	color:white;
}

#menu td.menu_bar{
	background-color:#568b47; 
	color:white;
}

#menu A {
	display: block; /* Pour que le fond affich� en hover soit un rectangle */
	width:150px;
	font-size: 13px;
	font-weight: bold; 
	color: white; 
	text-decoration: none;
}

#menu A:hover {
	background: #008000;
	color: #d9d8c4; 
}

/* Cette classe sert � la fois pour le titre des news et celui des blocs */
.titre_gauche{
	border-top:solid 1px #d0d0d0;
	border-left:solid 2px #909090;
	background-color:#eceada;
	margin: 0px 0px 0px 0px; 
	padding:5px 10px 0px 10px; 
	font-weight: bold; 
	color: #006000; 
	font-size: 90%;
}

.titre_bloc{
	margin: 0px; 
	text-align: left;
}

/* CSS du pav� News ------------------------------------------------------------------------------------- */
#news {
	text-align:left;
	FONT-SIZE: 90%; 
	margin: 0px 0px 0px 0px; 
	background-image:url(gauffre2.jpg);
	border-top:solid 1px #d0d0d0;
	border-right:solid 1px #d0d0d0;
	border-left:solid 2px #909090;
	border-bottom:solid 2px #909090;
}

#news .corps{
	border:solid 1px #d0d0d0;
	background-image:url(gauffre2.jpg);
}

#news LI {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-TOP: 4px; 
	PADDING-BOTTOM: 10px; 
}

#news A {
	display : block;
	width:120px;
	FONT-WEIGHT: bold; 
	FONT-SIZE: 100%; 
	color: black; 
	text-decoration: none;
}

#news A:hover {
	background: #008000;
	color: #d9d8c4; 
	text-decoration: none;
}

.separation {
	padding: 0px 0px 3px 0px ;  
	margin: 0px 0px 3px 0px ; 
	font-size:10%;
}

.lettrine {
	float:left;
	font-size:180%;
	width:35px;
	padding: 3px;  
	margin: 3px 3px 0px 3px;  
	text-align: center;
	background-color:#005B00;
	color:white
}

.lettrine_kanji {
	float:left;
	padding: 3px;  
	margin: 3px 3px 0px 3px;  
	border-top:solid 2px #005f00;
	border-right:solid 2px #005f00;
	border-left:solid 1px #568b47;
	border-bottom:solid 1px #568b47;
	background-color:white;
}

/* CSS des blocs du corps de texte ------------------------------------------------------------------------------------- */
#corps {
	background-color: transparent;
	padding: 0px; 
	margin: 0px; 
}

#corps .chiffonne {
	padding: 0px 0px 0px 0px ;  
	margin: 0px 0px 0px 0px ; 
	background-image:url(chiffonne_per.gif);
	border-top:solid 1px #d0d0d0;
	border-right:solid 1px #d0d0d0;
	border-left:solid 2px #909090;
	border-bottom:solid 2px #909090;
}

.chiffonne > div {
	display: flex;
	flex-flow: row nowrap;
}

#corps .gauffre {
	background-image:url(gauffre2.jpg);
	border-top:solid 1px #d0d0d0;
	border-right:solid 1px #d0d0d0;
	border-left:solid 2px #909090;
	border-bottom:solid 2px #909090;
}
.gauffre > div,
.gauffre2 > div {
	display: flex;
	flex-flow: row nowrap;
}

#corps .gauffre2 {
	background-image:url(gauffre3.jpg);
	border-top:solid 1px #d0d0d0;
	border-right:solid 1px #d0d0d0;
	border-left:solid 2px #909090;
	border-bottom:solid 2px #909090;
}

#corps h1 {
	margin: 0px 0px 0px 0px ; 
	padding:5px 10px 0px 5px; 
	text-align: left;
	font-size: 95%;
	font-style:italic;
	color: #005f00;
}

#corps p{
	margin: 0px 0px 0px 0px ; 
	padding:0px 10px 0px 10px; 
	text-align: justify;
	FONT-SIZE: 80%;
}

#corps dd{
	margin: 0px 0px 0px 0px ; 
	padding:0px 10px 20px 30px; 
	text-align: justify;
	FONT-SIZE: 80%;
}

#corps dt{
	margin: 0px 0px 0px 0px ; 
	padding:0px 10px 0px 10px; 
	text-align: justify;
	FONT-SIZE: 80%;
}

#corps ul{
	margin: 5px 5px 0px 25px ; 
	padding:0px 0px 0px 0px; 
}

#corps li{
	margin: 0px 0px 0px 0px ; 
	padding:5px 0px 0px 0px; 
	text-align: justify;
	FONT-SIZE: 80%;
}

#corps table.tableau {
	margin: 0 10px 0 10px;
	padding: 0;
	text-align: center;   
	table-layout: fixed;
}

#corps th.tableau {
	background-color:#568b47; 
	color: #fff;
	font-size: 75%;	
	text-align: center;
	font-weight: bold;
	padding: 5px 0;
}

#corps td.tableau {
	background-color: #dddacb;
	color: #53553f;
 	font-size: 75%;
	font-weight: normal;   
	padding: 5px 0;
}

#corps A {
	font-size: 100%; 
	color: #005b00; 
}

#corps A:visited {
	color: #2f007f; 
}


#corps A:hover {
	background-color: #005b00; 
	color: white; 
	text-decoration: none;
}

/* Barre de fin de page ------------------------------------------------------------------------------------- */
#bas_page {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: baseline;
	font-size:1em; 
	background-color:#005B00;
	color:#d9d8c4;
	width:99%;
	border-radius: 20px 0px 0px 0px;
	padding: 0px 0px 0px 1rem;
}
#bas_page > div {
	display: flex;
	flex-flow: row nowrap;
	text-decoration: none;
	align-items: baseline;
}
#bas_page > div > a {
	text-decoration: none;
	color: white;
}

/* Eviter le cadre disgr�cieux autour des pictogrammes */
#bas_page .img {
	color:#005B00;
}

#bas_page .txt {
	font-size:10px; 
	color:#d9d8c4;
	text-decoration: none;
}

#bas_page A:hover {
	background: #008000;
	color: white;
}

@media only screen and (max-width: 768px) {
	main {
		flex-flow: column nowrap;
	}
	h1 {
		font-size: 1.4rem
	}
	#flex_menu {
		flex-flow: row wrap;
	}
	#flex_content {
		width:95%;
	}
	#flex_menu > div {
		justify-content: center;
		justify-content: space-evenly;
	}
	.chiffonne > div {
		flex-flow: column nowrap;
	}
}