/*Charte Graphique #157F1F #4CB963 #A0EADE #5C6784 #1D263B*/
BODY {
	margin-right: 10px; 
	margin-left: 10px;
	margin-bottom: 5px; 
	margin-top: 5px; 
	FONT-FAMILY: verdana, arial, helvetica, sans-serif; 
	background-color:#4CB963;
}

h1{
	margin:0.6em;
	font-size: 2.2rem;
	color: #228B22;
	background: transparent;
	text-shadow: 3px 2px 2px white;
}
.no_prt {
	border-radius: 35px;
}
img { 
/* règle le bug d'exploser qui ajoute des marges inutiles... ------------------------------------------------------------------------------------- */
	display: block; 
} 

main {
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	justify-content: space-evenly;
	gap: 3px;
}
#flex_menu,
#submenu {
	display: flex;
	flex-flow: column nowrap !important;
	gap:3px;
}
#flex_menu > div,
#submenu > div {
	border-radius:35px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap:2px;
	width: 95%;
	border: 2px solid;
	padding: 3px;
	margin-bottom: 0.2em;
	background: #157F1F; 
}
#flex_menu > div > a {
	width: 85%;
	border-radius:35px;
}

#flex_menu > div > p {
	padding:5px 10px 0px 10px;
	color: white;
}

#flex_menu > div > a:hover,
#submenu > div > a:hover,
#submenu > ul > li >a:hover
{
	background-color: #04AA6D; /* Green */
	box-shadow: 0 0 12px 5px #04AA6D;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
#submenu > ul > li {
	padding-top: 0.06em;
	padding-bottom: 0.06em;
}
#flex_menu > div > a,
#submenu > div > a,
#submenu > ul > li a {
	color: white !important; 
	text-decoration: none !important;
}
#flex_content {
	display: flex;
	flex-flow: column nowrap;
	width: 75%;
}

img.corps{ 
/* encadrement des images. Pose visiblement un problème à exploser ... ------------------------------------------------------------------------------------- */
	margin: 5px;
	padding: 2px;
	border-top:solid 2px #005f00;
	border-right:solid 2px #005f00;
	border-left:solid 1px #157F1F;
	border-bottom:solid 1px #157F1F;
	background-color:white;
} 

td > .no_prt {
	border-radius: 0;
}

#corps > .titre_bloc {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	width:100%;
	border:0;
	padding-right:0;
	border-radius: 0px 66px 6px 0px;
	border-top: solid 1px #d0d0d0;
    border-left: solid 2px #909090;
    background-color: #eceada;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
    color: #006000;
    font-size: 90%;
}
.t_b_extra > h2 {
	display: flex;
	align-items: center;
}

h2 {
	padding:5px 10px 0px 10px;
}
h3 {
	padding:5px 10px 0px 10px;
}
.titre_droit{
	width:30px;
}
/* CSS du bandeau haut ------------------------------------------------------------------------------------- */
#entete {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(42, 46, 45, 1) 80%, rgba(0, 0, 0, 1) 100%);
	border-radius: 35px;
	margin-right: 0px; 
	margin-left: 0px;
	margin-bottom: 10px; 
	margin-top: 0px; 
	background-color:black;
}
#entete > div > img {
	width:95px;
	height:90px; 
	border-radius:35px;
}

/* CSS du pavé Menu ------------------------------------------------------------------------------------- */
#menu {
	margin-bottom: 0px; 
	margin-left: 0px; 
	margin-top: 0px;
	text-align: left;
}

#menu td.menu_bar_courante{
	background-color:#005B00;
	color:white;
}

#menu td.menu_bar{
	background-color:#157F1F; 
	color:white;
}

#menu A {
	display: block; /* Pour que le fond affiché en hover soit un rectangle */
	width:150px;
	font-size: 13px;
	font-weight: bold; 
	color: white; 
	text-decoration: none;
}
/*
#menu A:hover {
	background: #008000;
	color: #d9d8c4; 
}
*/
/* Cette classe sert à la fois pour le titre des news et celui des blocs */
.titre_gauche{
	border-top:solid 1px #d0d0d0;
	border-left:solid 2px #909090;
	background-color:#eceada;
	margin: 0px 0px 0px 0px; 
	padding:5px 10px 0px 10px; 
	font-weight: bold; 
	color: #006000; 
	font-size: 90%;
}

.titre_bloc{
	margin: 0px; 
	text-align: left;
}

.red {
	color: #FF0000;
}
.green {
	color: #008000;
}
.purple {
	color: #FF00FF;
}/*
#protected-container {
	display: none;
}
 CSS du pavé News ------------------------------------------------------------------------------------- */
#news {
	text-align:left;
	FONT-SIZE: 90%; 
	margin: 0px 0px 0px 0px; 
	background-image:url(gauffre2.jpg);
	border-top:solid 1px #d0d0d0;
	border-right:solid 1px #d0d0d0;
	border-left:solid 2px #909090;
	border-bottom:solid 2px #909090;
}

#news .corps{
	border:solid 1px #d0d0d0;
	background-image:url(gauffre2.jpg);
}

#news LI {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-TOP: 4px; 
	PADDING-BOTTOM: 10px; 
}

#news A {
	display : block;
	width:120px;
	FONT-WEIGHT: bold; 
	FONT-SIZE: 100%; 
	color: black; 
	text-decoration: none;
}
/*
#news A:hover {
	background: #008000;
	color: #d9d8c4; 
	text-decoration: none;
}
*/
.separation {
	padding: 0px 0px 3px 0px ;  
	margin: 0px 0px 3px 0px ; 
	font-size:10%;
}

.lettrine {
	float:left;
	font-size:180%;
	width:35px;
	padding: 3px;  
	margin: 3px 3px 0px 3px;  
	text-align: center;
	background-color:#005B00;
	color:white
}

.lettrine_kanji {
	float:left;
	padding: 3px;  
	margin: 3px 3px 0px 3px;  
	border-top:solid 2px #005f00;
	border-right:solid 2px #005f00;
	border-left:solid 1px #157F1F;
	border-bottom:solid 1px #157F1F;
	background-color:white;
}

/* CSS des blocs du corps de texte ------------------------------------------------------------------------------------- */
#corps {
	background-color: transparent;
	padding: 0px; 
	margin: 0px; 
}

#corps .chiffonne {
	padding: 0px 0px 0px 0px ;  
	margin: 0px 0px 0px 0px ; 
	background-image:url(chiffonne_per.gif);
	border-top:solid 1px #d0d0d0;
	border-right:solid 1px #d0d0d0;
	border-left:solid 2px #909090;
	border-bottom:solid 2px #909090;
}

.chiffonne > div {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}
.chiffonne > div > div {
	width: 100%;
}

#corps .gauffre {
	background-image:url(gauffre2.jpg);
	border-top:solid 1px #d0d0d0;
	border-right:solid 1px #d0d0d0;
	border-left:solid 2px #909090;
	border-bottom:solid 2px #909090;
}
.gauffre > div,
.gauffre2 > div {
	display: flex;
	flex-flow: row nowrap;
}

#corps .gauffre2 {
	background-image:url(gauffre3.jpg);
	border-top:solid 1px #d0d0d0;
	border-right:solid 1px #d0d0d0;
	border-left:solid 2px #909090;
	border-bottom:solid 2px #909090;
}

.flex_column {
	display: flex;
	flex-flow: column nowrap !important;
	padding: 5px 10px 0px 10px;
}

.flex_row {
	display: flex;
	flex-flow: row nowrap !important; 
	justify-content: space-between !important;
	padding: 5px 10px 0px 10px;
}

#corps h1 {
	margin: 0px 0px 0px 0px ; 
	padding:5px 10px 0px 5px; 
	text-align: left;
	font-size: 95%;
	font-style:italic;
	color: #005f00;
}

#corps p,
#corps dt {
	margin: 0px 0px 0px 0px ; 
	padding:0px 10px 0px 10px; 
	text-align: justify;
	FONT-SIZE: 90%;
}

#corps dd {
	margin: 0px 0px 0px 0px ; 
	padding:0px 10px 20px 30px; 
	text-align: justify;
	FONT-SIZE: 90%;
}

#corps ul {
	margin: 5px 5px 0px 25px ; 
	padding:0px 0px 0px 0px; 
}

#corps li{

	margin: 0px 0px 0px 0px ; 
	padding:5px 0px 0px 0px; 
	text-align: justify;
	font-size: 95%;
}

#corps table.tableau {
	margin: 0 10px 0 10px;
	padding: 0;
	text-align: center;   
	table-layout: fixed;
}

#corps th.tableau {
	background-color:#157F1F; 
	color: #fff;
	font-size: 75%;	
	text-align: center;
	font-weight: bold;
	padding: 5px 0;
}

#corps td.tableau {
	background-color: #dddacb;
	color: #53553f;
 	font-size: 75%;
	font-weight: normal;   
	padding: 5px 0;
}

#corps A {
	font-size: 1rem; 
	color: #005b00; 
}

#corps A:visited {
	color: #2f007f; 
}

/*
#corps A:hover {
	background-color: #005b00; 
	color: white; 
	text-decoration: none;
}
*/
/* Barre de fin de page ------------------------------------------------------------------------------------- */
#bas_page {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: baseline;
	font-size:1em; 
	background-color:#005B00;
	color:#d9d8c4;
	width:99%;
	border-radius: 20px 0px 0px 0px;
	padding: 0px 0px 0px 1rem;
}
#bas_page > div {
	display: flex;
	flex-flow: row nowrap;
	text-decoration: none;
	align-items: baseline;
}
#bas_page > div > a {
	text-decoration: none;
	color: white;
}

/* Eviter le cadre disgracieux autour des pictogrammes */
#bas_page .img {
	color:#005B00;
}

#bas_page .txt {
	font-size:10px; 
	color:#d9d8c4;
	text-decoration: none;
}

#bas_page A:hover {
	background: #008000;
	color: white;
}

@media only screen and (max-width: 768px) {
	main {
		flex-flow: column nowrap;
	}
	h1 {
		font-size: 1.4rem
	}
	#flex_menu {
		flex-flow: row wrap;
	}
	#flex_content {
		width:99%;
	}
	#flex_menu > div {
		justify-content: center;
		justify-content: space-evenly;
	}
	.chiffonne > div,
	.gauffre2 > div {
		flex-flow: column nowrap;
	}
	img {
		aspect-ratio: 1/1;
		max-width:100% ;
		max-height: 100%;
	}
	#bas_page > div:nth-child(1) > p {
		display: none;
	}
}